.additional-products {
  outline: 3px solid $grey;
}

.additional-products__title {
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.additional-products__list {
  @include clear-list;
}

.additional-products__item {
  border-bottom: 1px solid $border-grey-dark;
  padding-bottom: 19px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content min-content;
}

.additional-products__item:not(:last-child) {
  margin-bottom: 12px;
}

.additional-products__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  color: $dark-grey;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.additional-products__weight,
.additional-products__price {
  font-size: 14px;
  line-height: 14px;
  color: $grey-text;
}

.additional-products__weight {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.additional-products__price {
  grid-row: 2 / 3;
  grid-column: 2 / -1;
}

.additional-products__button-order {
  @include button-green-style;
  width: 100%;
  padding: 10px 0;
  grid-row: -2 / -1;
  grid-column: 1 / -1;
}

@media (min-width: $tablet-size) {
  .additional-products {
    position: relative;
  }

  .additional-products--top {
    border-top: 2px solid $green;
    padding-top: 43px;
    margin-top: 42px;
    position: relative;
  }

  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    background-color: $white;
    padding: 0 37px;
    position: absolute;
    top: -25px;
  }

  .additional-products__list {
    border: 1px solid $border-grey-dark;
    padding: 30px 38px;
  }

  .additional-products__item {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: min-content min-content;
  }

  .additional-products__name {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-products__weight,
  .additional-products__price {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .additional-products__price {
    grid-column: 3 / -1;
    justify-self: end;
  }

  .additional-products__button-order {
    margin-top: 25px;
  }
}

@media (min-width: $desktop-size) {
  .additional-products__title {
    font-size: 60px;
    line-height: 60px;
  }

  .additional-products__layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .additional-products__list {
    border-right: none;
    border-left: none;
  }

  .additional-products__item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    align-items: center;
  }

  .additional-products__weight {
    grid-column: 2 / 3;
  }

  .additional-products__price {
    grid-column: 3 / 4;
    justify-self: center;
  }

  .additional-products__button-order {
    grid-column: 4 / 5;
    margin-top: 0;
  }
}
