.copyright {
  font-family: "Arial", sans-serif;
}

.copyright__layout {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}

.copyright__link-text {
  color: $grey-text;
}

.copyright__link-logo:active {
  opacity: 0.3;
}

.copyright__link-text:active {
  opacity: 0.3;
}

@media (min-width: $tablet-size) {
  .copyright__layout {
    width: 163px;
  }
}
