.footer-social {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding: 21px 0;
  margin-bottom: 28px;
}

.footer-social__list {
  @include clear-list;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social__link:active {
  opacity: 0.3;
}

// .footer-social__link:hover .footer-social__icon,
.footer-social__icon:hover {
  stroke: $green;
  stroke-width: 1px;
}

// .social__icon-vk,
// .social__icon-insta,
// .social__icon-fb {
//   &:hover,
//   &:focus {
//     stroke: @basic-green;
//     stroke-width: 1px;
//   }

@media (min-width: $tablet-size) {
  .footer-social {
    margin-bottom: 0;
    border: none;
  }

  .footer-social__layout {
    padding: 0;
  }

  .footer-social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 129px;
  }
}
