.footer-social {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  margin-bottom: 13px;
  padding-top: 20px;
  padding-right: 72px;
  padding-bottom: 18px;
  padding-left: 70px;
}

.footer-social__list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social__item--vk,
.footer-social__item--instagram {
  margin-right: 33px;
}

.footer-social__icon--fb {
  fill: none;
  stroke: $social;
}

.footer-social__link:active {
  opacity: 0.3;
}

.footer-social__icon:hover,
.footer-social__icon:focus {
  stroke: $green;
  stroke-width: 1px;
}

@media (min-width: $tablet-size) {
  .footer-social {
    margin-bottom: 0;
    border: none;
    padding-right: 43px;
  }

  .footer-social__layout {
    padding: 0;
  }

  .footer-social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 129px;
  }

  .footer-social__item--vk,
  .footer-social__item--instagram {
    margin-right: 0;
  }

  .footer-social__icon--vk {
    width: 30px;
    height: 22px;
  }

  .footer-social__icon--insta {
    width: 23px;
    height: 23px;
  }

  .footer-social__icon--fb {
    width: 28px;
    height: 33px;
  }
}
