.hero {
  background-image: url("../img/background-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
}

.hero__layout {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  justify-items: center;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;
  margin-top: 27px;
  margin-bottom: 11px;
  font-weight: 400;
}

.hero__slogan {
  color: $white;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
  text-align: center;
  margin-bottom: 29px;
}

.hero__image {
  text-align: center;
}

.hero__button {
  @include button-green-style;
  width: 100%;
  padding: 11px 0;
  margin-bottom: 22px;
}

.hero__button:hover,
.hero__button:focus {
  background-color: $button-green;
}

.hero__button:active {
  background-color: $button-green;
  color: $button-active;
}

@media (min-width: $tablet-size) {
  .hero {
    background-image: none;
  }

  .hero__layout {
    padding-left: 88px;
    padding-bottom: 600px;
    justify-items: start;
    position: relative;
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black;
    text-align: start;
    padding-right: 185px;
    margin-top: 7px;
    margin-bottom: 22px;
  }

  .hero__slogan {
    color: $black;
    font-size: 20px;
    line-height: 20px;
  }

  .hero__image {
    width: 709px;
    height: 608px;
    position: absolute;
    top: 209px;
    left: 0;
  }

  .hero__button {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 26px;
    width: 244px;
    position: absolute;
    top: 239px;
    left: 91px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-size) {
  .hero {
    padding-bottom: 340px;
    position: relative;
  }

  .hero::before {
    content: "";
    background-image: url("../img/background-desktop.png");
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: -171px;
    right: 0;
    z-index: -1;
    width: 720px;
    height: 694px;
  }

  .hero__layout {
    padding-bottom: 0;
    padding-left: 80px;
  }

  .hero__title {
    padding-right: 564px;
    margin-top: 55px;
  }

  .hero__image {
    width: 552px;
    height: 499px;
    top: -29px;
    left: 449px;
  }

  .hero__button {
    margin-bottom: 0;
    padding-top: 16px;
    top: 289px;
    left: 80px;
  }

  .hero__slogan {
    line-height: 19px;
  }
}
