.hero {
  outline: 3px solid $grey-grey;
  outline-offset: -3px;
  background-image: url("../img/background-cat.png");
  background-repeat: no-repeat;
  background-position: top;
}

.hero__layout {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  justify-items: center;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;
  margin-top: 27px;
  margin-bottom: 25px;
  font-weight: 400;
}

.hero__slogan {
  color: $white;
  line-height: 14px;
  text-align: center;
  margin-bottom: 29px;
}

.hero__image {
  text-align: center;
}

.hero__button {
  @include button-green-style;
  width: 100%;
  padding: 7px 0;
  margin-bottom: 22px;
}

.hero__button:hover,
.hero__button:focus {
  background-color: $button-green;
}

.hero__button:active {
  background-color: $button-green;
  color: $button-active;
}

@media (min-width: $tablet-size) {
  .hero {
    background-image: none;
  }

  .hero__layout {
    padding-left: 91px;
    padding-bottom: 500px;
    justify-items: start;
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black;
    text-align: start;
    padding-right: 185px;
  }

  .hero__slogan {
    color: $black;
    font-size: 20px;
    line-height: 20px;
  }

  .hero__button {
    padding: 14px 26px;
    width: 244px;
  }
}

@media (min-width: $desktop-size) {
  .hero {
    padding-bottom: 300px;
    margin-bottom: 80px;
    position: relative;
  }

  .hero::before {
    content: "";
    background-image: url("../img/background-desktop.png");
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: -130px;
    right: 0;
    z-index: -1;
    width: 720px;
    height: 694px;
  }

  .hero__title {
    padding-right: 560px;
  }

  .hero__button {
    margin-bottom: 0;
  }
}
