.how-it-works {
  padding-bottom: 46px;
}

.how-it-works__list {
  @include clear-list;
}

.how-it-works__title {
  @include h2-style;
  margin-bottom: 38px;
}

.how-it-works__item {
  color: $grey-text;
  font-family: "Arial", sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  padding-left: 80px;
}

.how-it-works__item:not(:last-child) {
  margin-bottom: 20px;
}

.how-it-works__item--benefit::before {
  @include how-it-works-before;
  background-image: url("../img/how-it-works-benefit.png");
}

.how-it-works__item--convenience::before {
  @include how-it-works-before;
  background-image: url("../img/how-it-works-convenience.png");
}

.how-it-works__item--way::before {
  @include how-it-works-before;
  background-image: url("../img/how-it-works-way.png");
}

.how-it-works__item--result::before {
  @include how-it-works-before;
  background-image: url("../img/how-it-works-result.png");
}

@media (min-width: $tablet-size) {
  .how-it-works {
    border-bottom: 1px solid $border-grey;
    margin-bottom: 45px;
  }

  .how-it-works__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  .how-it-works__list {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .how-it-works__item--benefit {
    position: relative;
  }

  .how-it-works__item:not(:last-child) {
    margin-bottom: 104px;
  }

  .how-it-works__item--benefit::after {
    @include how-it-works-after;
    content: "1";
    width: 112px;
    top: -40px;
    right: 118px;
  }

  .how-it-works__item--convenience::after {
    @include how-it-works-after;
    content: "2";
    width: 134px;
    top: -40px;
    right: 118px;
  }

  .how-it-works__item--way::after {
    @include how-it-works-after;
    content: "3";
    width: 134px;
    top: -40px;
    right: 118px;
  }

  .how-it-works__item--result::after {
    @include how-it-works-after;
    content: "4";
    width: 136px;
    top: -40px;
    right: 107px;
  }

  .how-it-works__item {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-right: 109px;
    padding-top: 110px;
    margin-bottom: 104px;

    &--benefit::before {
      @include how-it-works-before-tablet;
      background-image: url("../img/how-it-works-benefit-tablet.png");
    }

    &--convenience::before {
      @include how-it-works-before-tablet;
      background-image: url("../img/how-it-works-convenience-tablet.png");
    }

    &--way::before {
      @include how-it-works-before-tablet;
      background-image: url("../img/how-it-works-way-tablet.png");
    }

    &--result::before {
      @include how-it-works-before-tablet;
      background-image: url("../img/how-it-works-result-tablet.png");
    }
  }
}

@media (min-width: $desktop-size) {
  .how-it-works {
    padding-bottom: 126px;
    border-bottom: none;
  }

  .how-it-works__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .how-it-works__item {
    padding-right: 55px;
    margin-bottom: 0;
  }

  .how-it-works__item:not(:last-child) {
    margin-bottom: 0;
  }

  .how-it-works__item--benefit::after {
    right: 69px;
  }

  .how-it-works__item--convenience::after {
    right: 66px;
  }

  .how-it-works__item--way::after {
    right: 55px;
  }

  .how-it-works__item--result::after {
    right: 55px;
  }
}
