.live-example {
  background-color: $light-grey;
}

.live-example__title {
  @include h2-style;
  margin-bottom: 33px;
}

.live-example__text {
  font-family: "Arial", sans-serif;
  color: $grey-text;
  margin-bottom: 25px;
  margin-top: 0;
}

.live-example__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.live-example__item {
  position: relative;
}

.live-example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 9px;
  border: 1px solid $border-grey-dark;
  border-radius: 3px;
}

.live-example__number--kg {
  padding: 14px 42px 18px;
}

.live-example__number--day {
  padding: 15px 22px 18px;
}

.live-example__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $grey-text;
  margin-left: 0;
  position: absolute;
  padding: 0 18px;
  background-color: $light-grey;
  text-align: center;
  right: 16px;
  top: 47px;
}

.live-example__expenses {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 42px;
}

.live-example__button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  padding: 0;
}


.live-example__slider {
  width: 198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 43px;
}

.live-example__range-controls {
  width: 72px;
  background-color: $white;
  border-radius: 6px;
  border: 1px solid $border-grey-dark;
  padding: 3px 5px;
}

.live-example__bar {
  width: 40%;
  height: 6px;
  background-color: $green;
  border-radius: 6px;
}

.live-example__cat {
  position: relative;
  width: 311px;
  height: 232px;
  margin-bottom: 32px;
}

.live-example__photo-before {
  position: absolute;
  left: -20px;
  top: -7px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.live-example__photo-after {
  position: absolute;
  right: 0;
  top: 0;
  width: 251px;
  height: 100%;
  overflow: hidden;
  display: none;
}

.live-example__photo-before img {
  position: absolute;
  width: 311px;
  height: 232px;
  top: 0;
  left: 0;
}

.live-example__photo-after img {
  position: absolute;
  width: 251px;
  height: 240px;
  top: 0;
  right: 54px;
}

@media (min-width: $tablet-size) {
  .live-example {
    background-image: linear-gradient(to bottom, $white 57%, $light-grey 57%);
  }

  .live-example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .live-example__layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .live-example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .live-example__description {
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
    top: 64px;
    padding: 0 10px;
  }

  .live-example__description--kg {
    right: 22px;
  }

  .live-example__description--day {
    right: 8px;
  }

  .live-example__description br {
    display: none;
  }

  .live-example__number--day {
    padding: 15px 30px 20px;
  }

  .live-example__number--kg {
    padding: 15px 57px 20px;
  }

  .live-example__expenses {
    font-size: 20px;
    text-align: end;
  }

  .live-example__slider {
    position: relative;
    top: -60px;
    left: 70px;
    z-index: 3;
    width: 570px;
  }

  .live-example__range-controls {
    position: relative;
    width: 428px;
    height: 6px;
    padding: 0;
    border: none;
    background-color: $range;
  }

  .live-example__bar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: 48%;
    top: -13px;
    box-shadow: inset 0 0 0 12px $white, inset 0 0 0 16px $green, 0 3px 8px -3px $black;
    cursor: pointer;
    border: 1px solid $border-grey-dark;
  }

  .live-example__button {
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-grey-dark;
    border-bottom-style: dashed;
  }

  //   .live-example__cat {
  //   width: 708px;
  //   height: 620px;
  //   margin-bottom: 0;
  //   top: -183px;
  // }

  //   .live-example__photo-before {
  //   left: 0;
  //   top: -8px;
  //   width: 354px;
  //   height: 520px;
  // // }

  // .live-example__photo-after {
  //   right: 0;
  //   top: 0;
  //   width: 354px;
  //   height: 520px;
  //   display: block;
  // }

  // .live-example__photo-before img {
  //   width: 354px;
  //   height: 620px;
  //   top: 0;
  //   left: 0;
  //   object-fit: cover;
  //   object-position: 2% 0;
  //   padding-left: 22px;
  // }

  .live-example__photo-after img {
    width: 354px;
    height: 607px;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: 100% 0;
  }
}

@media (min-width: $desktop-size) {
  .live-example__desktop-grid {
    display: grid;
    grid-template-columns: 36% 64%;
    grid-template-rows: min-content min-content 1fr;
  }

  .live-example {
    background-image: linear-gradient(to bottom, $white 32%, $light-grey 32%);
  }

  .live-example__title {
    margin-bottom: 146px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .live-example__text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-bottom: 60px;
  }

  .live-example__layout {
    grid-row: 3 / -1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 60px;
  }

  .live-example__list {
    grid-row: 1 / 2;
    justify-self: start;
    margin-bottom: 0;
  }

  .live-example__item--kg {
    margin-right: 42px;
  }

  .live-example__description {
    background-color: $light-grey;
  }

  .live-example__expenses {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    justify-self: start;
    margin-top: 0;
  }

  .live-example__slider {
    grid-row: -1 / 1;
    grid-column: 2 / -1;
    align-self: end;
    justify-self: end;
    padding-bottom: 75px;
  }
}
