.main-navigation {
  width: 100%;
  margin: 0;
}

.main-navigation__list {
  @include clear-list;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.main-navigation__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid $border-grey;
  padding: 20px 0;
}

.main-navigation__link {
  text-decoration: none;
  color: $black;
}

.main-navigation__link:hover {
  opacity: 0.6;
}

.main-navigation__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-size) {
  .main-navigation__list {
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-navigation__item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border-top: none;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .main-navigation__item:not(:last-child) {
    margin-right: 35px;
  }

  .main-navigation__item--active {
    border-bottom: 2px solid $green;
  }

  .main-navigation__item--active-form {
    border-bottom: 2px solid $green;
  }

  .main-navigation__item--active-catalog {
    border-bottom: 2px solid $green;
  }
}

@media (min-width: $desktop-size) {
  .main-navigation__link {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }

  .main-navigation__item {
    border-top: none;
  }

  .main-navigation__item--active {
    border-bottom: 2px solid $white;
  }

  .main-navigation__link--catalog {
    color: $black;
  }

  .main-navigation__link--form {
    color: $black;
  }
}
