.main-navigation {
  width: 100%;
  margin: 0;
}


.main-navigation__list {
  @include clear-list;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.main-navigation__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid $border-grey;
  padding: 22px 20px;
  margin: 0 -20px;
}

.main-navigation__link {
  display: block;
  text-decoration: none;
  color: $black;
}

.main-navigation__link:hover {
  opacity: 0.6;
}

.main-navigation__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-size) {
  .main-navigation__list {
    flex-direction: row;
    width: 440px;
    justify-content: space-between;
  }

  .main-navigation__item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border-top: none;
    padding-top: 0;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-navigation__item--catalog {
    margin-right: -17px;
  }

  .main-navigation__item--program {
    margin-right: 20px;
  }

  .main-navigation__item--active {
    border-bottom: 2px solid $green;
  }

  .main-navigation__item--active-form {
    border-bottom: 2px solid $green;
  }

  .main-navigation__item--active-catalog {
    border-bottom: 2px solid $green;
  }
}

@media (min-width: $desktop-size) {
  .main-navigation__link {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }

  .main-navigation__list {
    margin-left: 445px;
    width: 458px;
  }

  .main-navigation__item {
    border-top: none;
    padding-bottom: 5px;
  }

  .main-navigation__item--program {
    margin-right: 0;
  }

  .main-navigation__item--catalog {
    margin-left: -13px;
  }

  .main-navigation__item--active {
    border-bottom: 2px solid $white;
  }

  .main-navigation__link--catalog {
    color: $black;
  }

  .main-navigation__link--form {
    color: $black;
  }
}
