.page-footer {
  outline: 3px solid $pink;
  outline-offset: -3px;
  background-color: $grey-grey;
}

.page-footer__logo-text:hover,
.page-footer__logo-text:focus {
  opacity: 0.8;
}

.page-footer__logo-text:active {
  opacity: 0.6;
}
