.page-footer {
  background-color: $grey-grey;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__logo-image-text {
  margin-top: 39px;
  margin-bottom: 29px;
}

.page-footer__logo-text:hover,
.page-footer__logo-text:focus {
  opacity: 0.8;
}

.page-footer__logo-text:active {
  opacity: 0.6;
}

@media (min-width: $tablet-size) {
  .page-footer__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
  }
}

@media (min-width: $desktop-size) {
  .page-footer__layout {
    padding-top: 26px;
  }
}
