.page-main-catalog__title-catalog {
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 41px;
  font-weight: 400;
}

.page-main-catalog__promo {
  background-image: url("../img/promo.svg");
  background-repeat: no-repeat;
  background-color: $green;
  width: 280px;
  height: 289px;
}
