.promo {
  margin: 35px auto;
  position: relative;
}

.promo__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);
}

.promo__icon {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-size) {
  .promo {
    margin: 69px 0 76px;
  }

  .promo__text {
    width: 230px;
    text-align: left;
    padding-right: 40px;
  }
}

@media (min-width: $desktop-size) {
  .promo {
    margin: 0;
    align-self: start;
  }
}
