.suggestions {
  margin-bottom: 28px;

  @media (min-width: $tablet-size) {
    margin-bottom: 45px;
  }
}

.suggestions__list {
  @include clear-list;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;

  @media (min-width: $tablet-size) {
    row-gap: 29px;
  }

  @media (min-width: $desktop-size) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    grid-template-rows: none;
  }
}

.suggestions__item {
  background-color: $grey-grey;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: min-content 1fr;

  @media (min-width: $tablet-size) {
    grid-template-columns: 1fr min-content;
  }

  @media (min-width: $desktop-size) {
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: min-content 1fr;
    padding: 41px 51px 59px 42px;
  }
}

.suggestions__item--sit {
  padding: 23px 32px 21px 20px;

  @media (min-width: $tablet-size) {
    padding: 77px 47px 55px 52px;
  }

  @media (min-width: $desktop-size) {
    padding-top: 81px;
  }
}

.suggestions__item--stay {
  padding: 23px 32px 21px 20px;

  @media (min-width: $tablet-size) {
    padding: 81px 30px 27px 52px;
  }
}

.suggestions__image {
  grid-column: 1 / 2;

  @media (min-width: $tablet-size) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }

  @media (min-width: $desktop-size) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.suggestions__image--sit {
  margin-right: 15px;

  @media (min-width: $tablet-size) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-size) {
    width: 100px;
    height: 106px;
    margin-top: -38px;
    margin-right: 61px;
  }
}

.suggestions__image--stay {
  margin-left: -7px;
  margin-right: 5px;

  @media (min-width: $tablet-size) {
    width: 268px;
    height: 200px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
  }

  @media (min-width: $desktop-size) {
    width: 134px;
    height: 100px;
    margin-left: -18px;
    margin-top: -33px;
    margin-right: 46px;
  }
}

.suggestions__title {
  margin-top: 9px;
  margin-left: 6px;
  margin-bottom: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 2 / -1;

  @media (min-width: $tablet-size) {
    grid-column: 1 / 2;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-size) {
    grid-column: 2 / -1;
  }
}

.suggestions__text {
  color: $grey-text;
  font-family: "Arial", sans-serif;
  padding-bottom: 23px;
  margin-top: 22px;
  margin-bottom: 19px;
  border-bottom: 1px solid $grey;
  grid-column: 1 / -1;

  @media (min-width: $tablet-size) {
    grid-column: 1 / 2;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-size) {
    grid-column: 1 / -1;
  }
}

.suggestions__text--sit {
  @media (min-width: $tablet-size) {
    padding-right: 60px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-size) {
    padding-right: 0;
    margin-top: 42px;
  }
}

.suggestions__text--stay {
  @media (min-width: $tablet-size) {
    padding-right: 15px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-size) {
    margin-top: 42px;
  }
}

.suggestions__link {
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  grid-column: 1 / -1;

  @media (min-width: $tablet-size) {
    font-size: 20px;
    line-height: 30px;
  }
}

.suggestions__link--sit {
  @media (min-width: $tablet-size) {
    bottom: 4px;
  }

  @media (min-width: $desktop-size) {
    margin-top: 30px;
  }
}

.suggestions__link--stay {
  @media (min-width: $tablet-size) {
    bottom: 31px;
  }
}

.suggestions__link::after {
  content: "";
  width: 32px;
  height: 10px;
  top: 3px;
  left: 100px;
  position: absolute;
  background-image: url("../img/row.svg");

  @media (min-width: $tablet-size) {
    margin-left: 25px;
    left: 105px;
    top: 8px;
  }

  @media (min-width: $desktop-size) {
    margin-left: 0;
    left: 130px;
  }
}

.suggestions__link:active {
  opacity: 0.3;
}
