$white: #ffffff;
$green: #68b738;
$grey: #d9d9d9;
$grey-grey: #f2f2f2;
$light-grey: #eaeaea;
$grey-text: #444444;
$black: #111111;
$background: #000000;
$border-grey: #e6e6e6;
$button-green: #5eaa2f;
$button-active: #82bc5d;
$grey-border-catalog: #ebebeb;
$dark-grey: #222222;
$border-grey-dark: #cdcdcd;
$pink: #ff8282;
$grey-style: #bababa;


$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1440px;
